<footer class="text-white p-8" style="background-image: url('assets/images/various-veget.jpg');background-size: cover; background-position: center;">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- بخش اول: اطلاعات تماس -->
      <div>
        <h3 class="text-xl font-bold mb-2">تماس با ما</h3>
        <p>آدرس: تبریز، خیابان ولیعصر، کوچه ۱۰</p>
        <p>تلفن: ۰۲۱-۱۲۳۴۵۶۷۸</p>
        <p>ایمیل: info.foodclub.ir</p>
      </div>
      <!-- بخش دوم: لینک‌های سریع -->
      <div>
        <h3 class="text-xl font-bold mb-2">لینک‌های سریع</h3>
        <ul class="space-y-2">
          <li><a href="#" class="hover:underline">خانه</a></li>
          <li><a href="#" class="hover:underline">منو</a></li>
          <li><a href="#" class="hover:underline">درباره ما</a></li>
          <li><a href="#" class="hover:underline">تماس با ما</a></li>
        </ul>
      </div>
      <!-- بخش سوم: شبکه‌های اجتماعی -->
      <div>
        <h3 class="text-xl font-bold mb-2">شبکه‌های اجتماعی</h3>
        <ul class="flex gap-2">
          <li>
            <a href="#" class="hover:underline">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#" class="hover:underline">
              <i class="bi bi-telegram"></i>
            </a>
          </li>
          <li>
            <a href="#" class="hover:underline">
               <i class="bi bi-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-8">
      <p>&copy; ۲۰۲۴ فود کلاب. تمامی حقوق محفوظ است.</p>
    </div>
  </footer>
  