<div class="bg-quill py-24">
    <div class="auth-container backdrop-blur-md h-auto max-w-md mx-auto rounded-lg pt-20 p-8">
        <h2 class="text-2xl font-bold mb-6 text-center">ثبت‌نام</h2>
        <form (submit)="onSubmit()" class="space-y-4">
            <div class="space-y-2">
                <label for="email" class="block text-sm font-medium text-gray-700">ایمیل:</label>
                <input id="email" name="email" type="email" [(ngModel)]="email" required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>

            <div  class="space-y-2 pb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">رمز عبور:</label>
                <input id="password" name="password" type="password" [(ngModel)]="password" required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            </div>

            <button type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">ثبت‌نام</button>
        </form>
        <p *ngIf="errorMessage" class="text-red-900 mt-4 text-center">{{ errorMessage }}</p>
    </div>
</div>