<div class="py-24 bg-quill bg-opacity-80">
  <div class="max-w-md mx-auto p-8 h-auto pt-16 rounded-lg backdrop-blur-md shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">ورود</h2>
    <form (ngSubmit)="onSubmit()" #signInForm="ngForm" class="space-y-6">
      <div class="space-y-2">
        <label for="email" class="block text-sm font-medium text-gray-700">ایمیل:</label>
        <input id="email" name="email" type="email" [(ngModel)]="email" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required />
      </div>
      <div class="space-y-2">
        <label for="password" class="block text-sm font-medium text-gray-700">رمز عبور:</label>
        <input id="password" name="password" type="password" [(ngModel)]="password" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required />
      </div>
      <button type="submit" class="w-full py-2 px-4 bg-red-600 text-white font-semibold rounded-md shadow-md hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500">ورود</button>
    </form>
    <p *ngIf="errorMessage" class="mt-4 text-red-600 text-center">{{ errorMessage }}</p>
  </div>
</div>