<div class="p-4 md:pt-20 bg-gray-100 min-h-screen" style="background-image: url('path/to/your/image.jpg'); background-size: cover; background-position: center;">
  <div class="max-w-3xl mx-auto shadow-lg rounded-lg p-6" style="background: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px);">
    <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">سبد خرید</h2>

    <div *ngIf="cartItems.length > 0; else emptyCart">
      <ul class="divide-y divide-gray-200">
        <li *ngFor="let item of cartItems" class="py-4 flex justify-between items-center">
          <div class="flex items-center gap-2">
            <img [src]="item.image" alt="{{ item.name }}" class="w-16 h-16 object-cover rounded-lg mr-4">
            <p class="text-lg">{{ item.name }}</p>
          </div>
          <p class="text-lg font-semibold">{{ item.price | currency:'تومان':'symbol':'1.0-0' }}</p>
        </li>
      </ul>
      <p class="mt-6 text-xl font-bold text-right">جمع کل: {{ totalPrice | currency:'تومان':'symbol':'1.0-0' }}</p>

      <button (click)="placeOrder()" class="bg-green-500 text-white px-6 py-3 mt-6 rounded-lg w-full hover:bg-green-600 transition duration-300">
        ثبت سفارش
      </button>
    </div>

    <ng-template #emptyCart>
      <p class="text-center text-gray-500 mt-6">سبد خرید شما خالی است.</p>
    </ng-template>

    <div *ngIf="errorMessage" class="text-red-500 mt-4 text-center">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="text-green-500 mt-4 text-center">
      {{ successMessage }}
    </div>
  </div>
</div>
