/* .bg-menu {
    background-image: url('assets/images/raw-rigatoni-pasta-made.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
}

 */

 .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }